{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://api.valerochkagym.tech",
      "description": "Production"
    },
    {
      "url": "http://localhost:8080",
      "description": "Local development"
    }
  ],
  "paths": {
    "/admin/api/users/{user}/records/{kind}/{id}": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "operationId": "record",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "admin-controller"
        ],
        "operationId": "edit",
        "parameters": [
          {
            "name": "user",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PushResult"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/standard/{kind}/{id}": {
      "get": {
        "tags": [
          "catalog-controller"
        ],
        "operationId": "record_1",
        "parameters": [
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogRecord"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "catalog-controller"
        ],
        "operationId": "save",
        "parameters": [
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StandardEdit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PushResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sync": {
      "get": {
        "tags": [
          "data-controller"
        ],
        "operationId": "snapshot",
        "parameters": [
          {
            "name": "X-Gym-Sync-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Gym-Capabilities",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Gym-Capabilities": {
                "description": "Accepted intersection: calendar-plans, annotated-workout-writes, exercise-hint, profile, strength-planner-personalization, workout-rir-v1, ai-planner-agentic-v1; otherwise empty",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Snapshot"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "data-controller"
        ],
        "operationId": "push",
        "parameters": [
          {
            "name": "X-Gym-Sync-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Gym-Capabilities",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Gym-Capabilities": {
                "description": "Accepted intersection: calendar-plans, annotated-workout-writes, exercise-hint, profile, strength-planner-personalization, workout-rir-v1, ai-planner-agentic-v1; otherwise empty",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PushResult"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/google": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "link",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Tokens"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me/delete-code": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "deleteCode",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/logout": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "logout",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/logout-all": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "logoutAll",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/coach/journal": {
      "get": {
        "tags": [
          "coach-controller"
        ],
        "operationId": "page",
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "X-Gym-Sync-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CoachPage"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "coach-controller"
        ],
        "operationId": "push_1",
        "parameters": [
          {
            "name": "X-Gym-Sync-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CoachPush"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/verify": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "verify",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CodeRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/verify/request": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "resend",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/register": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "register",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/refresh": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "refresh",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RefreshRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Tokens"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/password/reset": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "reset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/password/request": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "requestReset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EmailRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/login": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "login",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Credentials"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Tokens"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/google": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "google",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GoogleRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Tokens"
                }
              }
            }
          }
        }
      }
    },
    "/v1/auth/google/nonce": {
      "post": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "nonce",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai/inbody-drafts": {
      "post": {
        "tags": [
          "ai-controller"
        ],
        "operationId": "inbody",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InBodyDraftRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AiDraftResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai/exercise-drafts": {
      "post": {
        "tags": [
          "ai-controller"
        ],
        "operationId": "exercise",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExerciseDraftRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AiDraftResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai/calendar-drafts-v2": {
      "post": {
        "tags": [
          "ai-controller"
        ],
        "operationId": "calendarV2",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarDraftRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarDraftV2Response"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai/calendar-drafts/{proposalId}/refinements": {
      "post": {
        "tags": [
          "ai-controller"
        ],
        "operationId": "refineCalendar",
        "parameters": [
          {
            "name": "proposalId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CalendarRefinementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ProposalResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/coach/runs": {
      "post": {
        "tags": ["coach-run-controller"],
        "operationId": "submitCoachRun",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CoachRunSubmitRequest" }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Run accepted",
            "headers": {
              "Location": { "schema": { "type": "string" } },
              "Retry-After": { "schema": { "type": "string" } }
            },
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/CoachRunResponse" }
              }
            }
          }
        }
      }
    },
    "/v1/coach/runs/{id}": {
      "get": {
        "tags": ["coach-run-controller"],
        "operationId": "coachRunStatus",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Current durable run state",
            "headers": {
              "Cache-Control": { "schema": { "type": "string" } },
              "Retry-After": { "schema": { "type": "string" } }
            },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CoachRunResponse" } } }
          }
        }
      }
    },
    "/v1/coach/runs/{id}/cancel": {
      "post": {
        "tags": ["coach-run-controller"],
        "operationId": "cancelCoachRun",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": { "description": "Cancelled or terminal run", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CoachRunResponse" } } } }
        }
      }
    },
    "/v1/coach/runs/{id}/receipt": {
      "post": {
        "tags": ["coach-run-controller"],
        "operationId": "recordCoachRunReceipt",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CoachRunReceiptRequest" } } }
        },
        "responses": { "200": { "description": "Receipt recorded", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": false } } } } }
      }
    },
    "/v1/coach/runs/{id}/events": {
      "get": {
        "tags": ["coach-run-controller"],
        "operationId": "coachRunEvents",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "after", "in": "query", "schema": { "type": "integer", "format": "int64", "default": 0 } },
          { "name": "Last-Event-ID", "in": "header", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Persisted progress, text and completed SSE events",
            "content": { "text/event-stream": { "schema": { "type": "string" } } }
          }
        }
      }
    },
    "/v1/coach/sessions/{workoutId}/runs": {
      "get": {
        "tags": ["coach-run-controller"],
        "operationId": "listCoachRuns",
        "parameters": [
          { "name": "workoutId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "after", "in": "query", "schema": { "type": "integer", "format": "int64", "default": 0 } }
        ],
        "responses": {
          "200": { "description": "Up to 200 runs after ordinal", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/CoachRunResponse" } } } } }
        }
      }
    },
    "/v1/coach/sessions/{workoutId}": {
      "put": {
        "tags": ["coach-run-controller"],
        "operationId": "updateCoachSession",
        "parameters": [
          { "name": "workoutId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CoachSessionUpdateRequest" } } }
        },
        "responses": {
          "200": { "description": "Accepted session sequence", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CoachSessionUpdateResponse" } } } }
        }
      }
    },
    "/v1/coach/sessions/{workoutId}/messages": {
      "post": {
        "tags": ["coach-run-controller"],
        "operationId": "submitCoachSessionMessage",
        "parameters": [
          { "name": "workoutId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }
        ],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CoachSessionMessageRequest" } } }
        },
        "responses": {
          "202": {
            "description": "Session snapshot and user run accepted",
            "headers": {
              "Location": { "schema": { "type": "string" } },
              "Retry-After": { "schema": { "type": "string" } }
            },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CoachRunResponse" } } }
          }
        }
      }
    },
    "/v1/coach/sessions/{workoutId}/events": {
      "get": {
        "tags": ["coach-run-controller"],
        "operationId": "coachSessionEvents",
        "parameters": [
          { "name": "workoutId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "after", "in": "query", "schema": { "type": "integer", "format": "int64", "default": 0 } },
          { "name": "Last-Event-ID", "in": "header", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "Continuous owner/workout SSE stream; the larger of after and Last-Event-ID is used",
            "headers": {
              "Cache-Control": { "schema": { "type": "string" } },
              "X-Accel-Buffering": { "schema": { "type": "string" } }
            },
            "content": { "text/event-stream": { "schema": { "type": "string" } } }
          }
        }
      }
    },
    "/v1/coach/model-check": {
      "post": {
        "tags": ["coach-run-controller"],
        "operationId": "checkCoachModel",
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CoachModelCheckRequest" } } }
        },
        "responses": {
          "200": {
            "description": "Isolated synthetic model and tool-host check",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CoachModelCheckResponse" } } }
          }
        }
      }
    },
    "/admin/api/users/{id}/revoke-sessions": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "operationId": "revoke",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAction"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/api/standard/{kind}/{id}/archive": {
      "post": {
        "tags": [
          "catalog-controller"
        ],
        "operationId": "archive",
        "parameters": [
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StandardArchive"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/PushResult"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/logout": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "operationId": "logout_1",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/admin/api/login": {
      "post": {
        "tags": [
          "admin-controller"
        ],
        "operationId": "login_1",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminCredentials"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/sync/changes": {
      "get": {
        "tags": [
          "data-controller"
        ],
        "operationId": "changes",
        "parameters": [
          {
            "name": "X-Gym-Sync-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Gym-Capabilities",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 0
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 200
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Gym-Capabilities": {
                "description": "Accepted intersection: calendar-plans, annotated-workout-writes, exercise-hint, profile, strength-planner-personalization, workout-rir-v1, ai-planner-agentic-v1; otherwise empty",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/ChangesPage"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions": {
      "get": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "sessions",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SessionInfo"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/records/{kind}": {
      "get": {
        "tags": [
          "data-controller"
        ],
        "operationId": "list",
        "parameters": [
          {
            "name": "X-Gym-Sync-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Gym-Capabilities",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Gym-Capabilities": {
                "description": "Accepted intersection: calendar-plans, annotated-workout-writes, exercise-hint, profile, strength-planner-personalization, workout-rir-v1, ai-planner-agentic-v1; otherwise empty",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Record"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/records/{kind}/{id}": {
      "get": {
        "tags": [
          "data-controller"
        ],
        "operationId": "record_2",
        "parameters": [
          {
            "name": "X-Gym-Sync-Version",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Gym-Capabilities",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "kind",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "X-Gym-Capabilities": {
                "description": "Accepted intersection: calendar-plans, annotated-workout-writes, exercise-hint, profile, strength-planner-personalization, workout-rir-v1, ai-planner-agentic-v1; otherwise empty",
                "style": "simple",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/Record"
                }
              }
            }
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "me",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "delete",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/catalog": {
      "get": {
        "tags": [
          "catalog-controller"
        ],
        "operationId": "snapshot_1",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogSnapshot"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai/status": {
      "get": {
        "tags": [
          "ai-controller"
        ],
        "operationId": "status",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AiStatus"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/users": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "operationId": "users",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminPage"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/users/{id}": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "operationId": "user",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/users/{id}/exercise-options": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "operationId": "exerciseOptions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "additionalProperties": {}
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/summary": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "operationId": "summary",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/standard": {
      "get": {
        "tags": [
          "catalog-controller"
        ],
        "operationId": "list_1",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogPage"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/session": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "operationId": "session",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/records": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "operationId": "records",
        "parameters": [
          {
            "name": "kind",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": ""
            }
          },
          {
            "name": "deleted",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminPage"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/catalog": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "operationId": "catalog",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/audit": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "operationId": "audit",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/AdminPage"
                }
              }
            }
          }
        }
      }
    },
    "/admin/api/audit/{id}": {
      "get": {
        "tags": [
          "admin-controller"
        ],
        "operationId": "auditEntry",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions/{id}": {
      "delete": {
        "tags": [
          "auth-controller"
        ],
        "operationId": "revoke_1",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v1/ai/coach-models": {
      "get": {
        "tags": [
          "live-coach-controller"
        ],
        "operationId": "models",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CoachModelCatalog"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai/coach-turn": {
      "post": {
        "tags": [
          "live-coach-controller"
        ],
        "operationId": "turn",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string",
                "format": "byte"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/CoachTurnResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/ai/coach-turn/stream": {
      "post": {
        "tags": [
          "live-coach-controller"
        ],
        "summary": "Stream a stateless Live Coach turn",
        "description": "Same JSON request as POST /v1/ai/coach-turn. text_delta carries {requestId, model, delta};\ncompleted carries {requestId, model, completion}, exactly the existing validated response;\nerror carries {requestId, code, message}. Text is provisional and tools appear only in completed.\nExactly one terminal event (completed or error) is sent when the connection is available, then EOF.\nEOF without completed is an incomplete response. No retries, resume or Last-Event-ID.\nHeartbeat comments every 10 seconds; session validity checked before every send.\nRevocation emits error/unauthorized and cancels generation. Shared with coach-turn: 2 concurrent\nexchanges and 30 requests/minute/user, 512 KiB request, 45 second total deadline.\nUpstream SSE: 2 MiB total, 240 KiB per event; existing completion semantic limits apply.\nPost-open error codes: ai_invalid_response, ai_unavailable, ai_timeout, unauthorized.\nCache-Control: no-store; X-Accel-Buffering: no.",
        "operationId": "stream",
        "parameters": [],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "additionalProperties": false,
                "properties": {
                  "requestId": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "model": {
                    "type": "string",
                    "description": "Optional allowlisted model; defaults to catalog default"
                  },
                  "messages": {
                    "type": "array",
                    "items": {},
                    "maxItems": 80,
                    "minItems": 1
                  },
                  "tools": {
                    "type": "array",
                    "items": {},
                    "maxItems": 4,
                    "minItems": 4
                  }
                },
                "required": [
                  "messages",
                  "requestId",
                  "tools"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "SSE; terminal completed or error, followed by EOF",
            "content": {
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "examples": {
                  "completed": {
                    "value": "event:text_delta\ndata:{\"requestId\":\"123e4567-e89b-12d3-a456-426614174000\",\"model\":\"coach\",\"delta\":\"Hello\"}\n\nevent:completed\ndata:{\"requestId\":\"123e4567-e89b-12d3-a456-426614174000\",\"model\":\"coach\",\"completion\":{\"choices\":[{\"finish_reason\":\"stop\",\"message\":{\"role\":\"assistant\",\"content\":\"Hello\"}}]}}\n\n"
                  },
                  "error": {
                    "value": "event:error\ndata:{\"requestId\":\"123e4567-e89b-12d3-a456-426614174000\",\"code\":\"unauthorized\",\"message\":\"Требуется авторизация\"}\n\n"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Before SSE opens: Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Before SSE opens: Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              }
            }
          },
          "413": {
            "description": "Before SSE opens: Request exceeds 512 KiB",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              }
            }
          },
          "429": {
            "description": "Before SSE opens: rate_limited",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              }
            }
          },
          "503": {
            "description": "Before SSE opens: ai_busy or ai_unavailable",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "code": {
                      "type": "string"
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "code",
                    "message"
                  ]
                }
              }
            }
          }
        },
        "security": [
          {
            "coachBearer": []
          }
        ]
      }
    },
    "/v1/routine-shares": {
      "post": {
        "tags": ["routine-share-controller"],
        "operationId": "createRoutineShare",
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateRoutineShareRequest"}}}},
        "responses": {"200": {"description": "Immutable public link", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RoutineShareCreated"}}}}}
      },
      "get": {
        "tags": ["routine-share-controller"],
        "operationId": "listRoutineShares",
        "parameters": [{"name": "routineId", "in": "query", "required": true, "schema": {"type": "string", "format": "uuid"}}, {"name": "limit", "in": "query", "schema": {"type": "integer", "minimum": 1, "maximum": 50}}],
        "responses": {"200": {"description": "Active links", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RoutineShareList"}}}}}
      }
    },
    "/v1/routine-shares/{shareId}/revoke": {
      "post": {
        "tags": ["routine-share-controller"], "operationId": "revokeRoutineShare",
        "parameters": [{"name": "shareId", "in": "path", "required": true, "schema": {"type": "string", "format": "uuid"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RevokeRoutineShareRequest"}}}},
        "responses": {"200": {"description": "Revoked link", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RoutineShareRevoked"}}}}}
      }
    },
    "/v1/routine-shares/preview/{token}": {
      "get": {
        "tags": ["routine-share-public-controller"], "operationId": "previewRoutineShare", "security": [],
        "parameters": [{"name": "token", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^[A-Za-z0-9_-]{43}$"}}],
        "responses": {"200": {"description": "Allowlisted immutable snapshot", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RoutineSharePreview"}}}}, "404": {"description": "share_unavailable"}}
      }
    },
    "/v1/routine-shares/preview/{token}/import": {
      "post": {
        "tags": ["routine-share-controller"], "operationId": "importRoutineShare",
        "parameters": [{"name": "token", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^[A-Za-z0-9_-]{43}$"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ImportRoutineShareRequest"}}}},
        "responses": {"200": {"description": "Imported routine receipt", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RoutineShareImport"}}}}, "404": {"description": "share_unavailable"}}
      }
    },
    "/v1/routine-shares/preview/{token}/trial-results": {
      "post": {
        "tags": ["routine-share-controller"], "operationId": "saveRoutineShareTrial",
        "parameters": [{"name": "token", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^[A-Za-z0-9_-]{43}$"}}],
        "requestBody": {"required": true, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SaveRoutineShareTrialRequest"}}}},
        "responses": {"200": {"description": "Portable routine and completed workout receipt", "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RoutineShareTrialSaved"}}}}, "404": {"description": "share_unavailable"}, "409": {"description": "operation_reused"}}
      }
    },
    "/r/{token}": {
      "get": {
        "tags": ["routine-share-public-controller"], "operationId": "routineShareHtml", "security": [],
        "parameters": [{"name": "token", "in": "path", "required": true, "schema": {"type": "string", "pattern": "^[A-Za-z0-9_-]{43}$"}}],
        "responses": {"200": {"description": "HTML fallback for an active shared routine"}, "404": {"description": "Unavailable HTML page"}}
      }
    },
    "/v1/ai/coach-prompt": {
      "get": {
        "tags": [
          "live-coach-controller"
        ],
        "operationId": "prompt",
        "description": "Authenticated Live Coach system prompt, cached server-side for five minutes.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CoachPromptResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AdminEdit": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "format": "uuid"
          },
          "baseRevision": {
            "type": "integer",
            "format": "int64"
          },
          "payload": {
            "$ref": "#/components/schemas/JsonNode"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "JsonNode": {
        "type": "object",
        "properties": {
          "integralNumber": {
            "type": "boolean"
          },
          "floatingPointNumber": {
            "type": "boolean"
          },
          "container": {
            "type": "boolean"
          },
          "object": {
            "type": "boolean"
          },
          "number": {
            "type": "boolean"
          },
          "nodeType": {
            "type": "string",
            "enum": [
              "ARRAY",
              "BINARY",
              "BOOLEAN",
              "MISSING",
              "NULL",
              "NUMBER",
              "OBJECT",
              "POJO",
              "STRING"
            ]
          },
          "string": {
            "type": "boolean"
          },
          "missingNode": {
            "type": "boolean"
          },
          "valueNode": {
            "type": "boolean"
          },
          "short": {
            "type": "boolean"
          },
          "double": {
            "type": "boolean"
          },
          "bigDecimal": {
            "type": "boolean"
          },
          "bigInteger": {
            "type": "boolean"
          },
          "textual": {
            "type": "boolean",
            "deprecated": true
          },
          "boolean": {
            "type": "boolean"
          },
          "binary": {
            "type": "boolean"
          },
          "pojo": {
            "type": "boolean"
          },
          "int": {
            "type": "boolean"
          },
          "long": {
            "type": "boolean"
          },
          "array": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          },
          "null": {
            "type": "boolean"
          },
          "float": {
            "type": "boolean"
          },
          "embeddedValue": {
            "type": "boolean"
          }
        }
      },
      "PushResult": {
        "type": "object",
        "properties": {
          "revision": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "StandardEdit": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "format": "uuid"
          },
          "baseRevision": {
            "type": "integer",
            "format": "int64"
          },
          "reason": {
            "type": "string"
          },
          "payload": {
            "$ref": "#/components/schemas/JsonNode"
          }
        }
      },
      "Change": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "baseRevision": {
            "type": "integer",
            "format": "int64"
          },
          "deleted": {
            "type": "boolean"
          },
          "payload": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/JsonNode"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "PushRequest": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "format": "uuid"
          },
          "changes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Change"
            }
          },
          "catalogRevision": {
            "type": [
              "integer",
              "null"
            ],
            "format": "int64"
          }
        }
      },
      "GoogleRequest": {
        "type": "object",
        "properties": {
          "idToken": {
            "type": "string"
          },
          "nonce": {
            "type": "string"
          },
          "deviceName": {
            "type": "string"
          }
        }
      },
      "Tokens": {
        "type": "object",
        "properties": {
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string"
          },
          "accessToken": {
            "type": "string"
          },
          "refreshToken": {
            "type": "string"
          },
          "expiresIn": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CoachEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "workoutId": {
            "type": "string",
            "format": "uuid"
          },
          "deviceId": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "integer",
            "format": "int64"
          },
          "payload": {
            "$ref": "#/components/schemas/JsonNode"
          }
        }
      },
      "CoachPush": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoachEntry"
            }
          }
        }
      },
      "CodeRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "code": {
            "type": "string"
          }
        }
      },
      "EmailRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          }
        }
      },
      "Credentials": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "password": {
            "type": "string"
          },
          "deviceName": {
            "type": "string"
          }
        }
      },
      "RefreshRequest": {
        "type": "object",
        "properties": {
          "refreshToken": {
            "type": "string"
          }
        }
      },
      "ResetRequest": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AiImage": {
        "type": "object",
        "properties": {
          "mediaType": {
            "type": "string"
          },
          "base64": {
            "type": "string"
          }
        }
      },
      "InBodyDraftRequest": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "expectedRevision": {
            "type": "integer",
            "format": "int64"
          },
          "expectedCatalogRevision": {
            "type": "integer",
            "format": "int64"
          },
          "image": {
            "$ref": "#/components/schemas/AiImage"
          }
        }
      },
      "AiContextRevision": {
        "type": "object",
        "properties": {
          "revision": {
            "type": "integer",
            "format": "int64"
          },
          "catalogRevision": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "AiDraftResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "context": {
            "$ref": "#/components/schemas/AiContextRevision"
          },
          "result": {
            "$ref": "#/components/schemas/JsonNode"
          }
        }
      },
      "ExerciseDraftRequest": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "expectedRevision": {
            "type": "integer",
            "format": "int64"
          },
          "expectedCatalogRevision": {
            "type": "integer",
            "format": "int64"
          },
          "description": {
            "type": "string"
          }
        }
      },
      "AdminAction": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "format": "uuid"
          },
          "reason": {
            "type": "string"
          }
        }
      },
      "StandardArchive": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "format": "uuid"
          },
          "baseRevision": {
            "type": "integer",
            "format": "int64"
          },
          "reason": {
            "type": "string"
          },
          "archived": {
            "type": "boolean"
          }
        }
      },
      "AdminCredentials": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "Record": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string"
          },
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "revision": {
            "type": "integer",
            "format": "int64"
          },
          "deleted": {
            "type": "boolean"
          },
          "payload": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/JsonNode"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "Snapshot": {
        "type": "object",
        "properties": {
          "revision": {
            "type": "integer",
            "format": "int64"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Record"
            }
          }
        }
      },
      "ChangesPage": {
        "type": "object",
        "properties": {
          "revision": {
            "type": "integer",
            "format": "int64"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Record"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          }
        }
      },
      "SessionInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "deviceName": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "current": {
            "type": "boolean"
          }
        }
      },
      "CoachPage": {
        "type": "object",
        "properties": {
          "entries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CoachEntry"
            }
          },
          "nextCursor": {
            "type": [
              "string",
              "null"
            ]
          },
          "watermark": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "CatalogRecord": {
        "type": "object",
        "properties": {
          "kind": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "revision": {
            "type": "integer",
            "format": "int64"
          },
          "archived": {
            "type": "boolean"
          },
          "payload": {
            "$ref": "#/components/schemas/JsonNode"
          }
        }
      },
      "CatalogSnapshot": {
        "type": "object",
        "properties": {
          "active": {
            "type": "boolean"
          },
          "revision": {
            "type": "integer",
            "format": "int64"
          },
          "records": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogRecord"
            }
          },
          "equipment": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogRecord"
            }
          }
        }
      },
      "AiStatus": {
        "type": "object",
        "properties": {
          "schemaVersion": {
            "type": "integer",
            "format": "int32"
          },
          "availability": {
            "type": "string"
          },
          "actions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CalendarDraftRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "requestId",
          "expectedRevision",
          "expectedCatalogRevision",
          "startsAtMillis",
          "timeZoneId",
          "gymIds",
          "excludedExerciseIds",
          "excludedEquipmentIds",
          "priorityMuscles",
          "includeNotes",
          "availableDurationMinutes",
          "currentState",
          "preferences"
        ],
        "properties": {
          "requestId": { "$ref": "#/components/schemas/CanonicalUuid" },
          "expectedRevision": { "$ref": "#/components/schemas/NonNegativeLong" },
          "expectedCatalogRevision": { "$ref": "#/components/schemas/NonNegativeLong" },
          "startsAtMillis": { "$ref": "#/components/schemas/NonNegativeLong" },
          "timeZoneId": { "type": "string", "minLength": 1, "maxLength": 255 },
          "gymIds": {
            "type": "array",
            "uniqueItems": true,
            "maxItems": 1000,
            "items": { "$ref": "#/components/schemas/CanonicalUuid" }
          },
          "excludedExerciseIds": {
            "type": "array",
            "uniqueItems": true,
            "maxItems": 1000,
            "items": { "$ref": "#/components/schemas/CanonicalUuid" }
          },
          "excludedEquipmentIds": {
            "type": "array",
            "uniqueItems": true,
            "maxItems": 200,
            "items": { "type": "string", "minLength": 1, "maxLength": 255 }
          },
          "priorityMuscles": {
            "type": "array",
            "uniqueItems": true,
            "maxItems": 25,
            "items": { "type": "string" }
          },
          "includeNotes": { "type": "boolean" },
          "availableDurationMinutes": { "type": "integer", "minimum": 10, "maximum": 240 },
          "currentState": { "$ref": "#/components/schemas/NullableCalendarText" },
          "preferences": { "$ref": "#/components/schemas/NullableCalendarText" }
        }
      },
      "CalendarRefinementRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "requestId",
          "expectedRevision",
          "expectedCatalogRevision",
          "expectedProposalVersion",
          "refinement"
        ],
        "properties": {
          "requestId": { "$ref": "#/components/schemas/CanonicalUuid" },
          "expectedRevision": { "$ref": "#/components/schemas/NonNegativeLong" },
          "expectedCatalogRevision": { "$ref": "#/components/schemas/NonNegativeLong" },
          "expectedProposalVersion": { "type": "integer", "minimum": 1 },
          "refinement": { "type": "string", "minLength": 1, "maxLength": 2000, "pattern": "^\\S(?:.*\\S)?$" }
        }
      },
      "CanonicalUuid": {
        "type": "string",
        "format": "uuid",
        "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}$"
      },
      "NonNegativeLong": {
        "type": "integer",
        "format": "int64",
        "minimum": 0
      },
      "NullableCalendarText": {
        "type": [
          "string",
          "null"
        ],
        "maxLength": 2000,
        "pattern": ".*\\S.*"
      },
      "CalendarDraftV2Response": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "requestId",
          "context",
          "proposal",
          "agenticProjection"
        ],
        "properties": {
          "requestId": { "type": "string" },
          "context": { "$ref": "#/components/schemas/CalendarDraftContext" },
          "proposal": { "$ref": "#/components/schemas/ProposalResponse" },
          "agenticProjection": { "$ref": "#/components/schemas/AgenticProjection" }
        }
      },
      "CalendarDraftContext": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "revision",
          "catalogRevision",
          "capturedAtMillis"
        ],
        "properties": {
          "revision": { "type": "integer", "format": "int64" },
          "catalogRevision": { "type": "integer", "format": "int64" },
          "capturedAtMillis": { "type": "integer", "format": "int64" }
        }
      },
      "AgenticProjection": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "candidateIds",
          "skeleton"
        ],
        "properties": {
          "candidateIds": {
            "type": "array",
            "items": { "type": "string" }
          },
          "skeleton": { "$ref": "#/components/schemas/AgenticSkeleton" }
        }
      },
      "AgenticSkeleton": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "focusExerciseId",
          "slots",
          "minDurationSec",
          "maxDurationSec"
        ],
        "properties": {
          "focusExerciseId": { "type": "string" },
          "slots": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/AgenticSkeletonSlot" }
          },
          "minDurationSec": { "type": "integer", "format": "int32" },
          "maxDurationSec": { "type": "integer", "format": "int32" }
        }
      },
      "AgenticSkeletonSlot": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "slotId",
          "allowedExerciseIds",
          "minDurationSec",
          "maxDurationSec"
        ],
        "properties": {
          "slotId": { "type": "string" },
          "allowedExerciseIds": {
            "type": "array",
            "items": { "type": "string" }
          },
          "minDurationSec": { "type": "integer", "format": "int32" },
          "maxDurationSec": { "type": "integer", "format": "int32" }
        }
      },
      "ProposalResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "proposalId",
          "author",
          "recipientId",
          "source",
          "status",
          "currentVersion",
          "createdAt",
          "updatedAt",
          "expiresAt",
          "snapshot"
        ],
        "properties": {
          "proposalId": { "type": "string", "format": "uuid" },
          "author": { "$ref": "#/components/schemas/ProposalAuthor" },
          "recipientId": { "type": "string", "format": "uuid" },
          "source": { "type": "string" },
          "status": { "type": "string" },
          "currentVersion": { "type": "integer", "format": "int32" },
          "createdAt": { "type": "integer", "format": "int64" },
          "updatedAt": { "type": "integer", "format": "int64" },
          "expiresAt": { "type": "integer", "format": "int64" },
          "snapshot": { "$ref": "#/components/schemas/ProposalSnapshot" }
        }
      },
      "ProposalAuthor": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "kind",
          "accountId"
        ],
        "properties": {
          "kind": { "type": "string" },
          "accountId": { "type": ["string", "null"], "format": "uuid" }
        }
      },
      "ProposalSnapshot": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "version",
          "draft",
          "ownerRevision",
          "catalogRevision",
          "createdAt"
        ],
        "properties": {
          "version": { "type": "integer", "format": "int32" },
          "draft": { "$ref": "#/components/schemas/ApprovalDraft" },
          "ownerRevision": { "type": "integer", "format": "int64" },
          "catalogRevision": { "type": "integer", "format": "int64" },
          "createdAt": { "type": "integer", "format": "int64" }
        }
      },
      "ApprovalDraft": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "gymIds",
          "exercises",
          "startsAtMillis",
          "timeZoneId"
        ],
        "properties": {
          "name": { "type": "string" },
          "gymIds": { "type": "array", "items": { "type": "string" } },
          "exercises": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlannedExercise" }
          },
          "startsAtMillis": { "type": "integer", "format": "int64" },
          "timeZoneId": { "type": "string" }
        }
      },
      "PlannedExercise": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "exerciseId",
          "restSeconds",
          "plannedSets"
        ],
        "properties": {
          "exerciseId": { "type": "string" },
          "restSeconds": { "type": ["integer", "null"], "format": "int32" },
          "plannedSets": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlannedSet" }
          }
        }
      },
      "PlannedSet": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "weightKg",
          "reps",
          "durationSec",
          "speedKmh",
          "inclinePct"
        ],
        "properties": {
          "weightKg": { "type": ["number", "null"], "format": "double" },
          "reps": { "type": ["integer", "null"], "format": "int32" },
          "durationSec": { "type": ["integer", "null"], "format": "int32" },
          "speedKmh": { "type": ["number", "null"], "format": "double" },
          "inclinePct": { "type": ["number", "null"], "format": "double" }
        }
      },
      "CoachRunSubmitRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": ["requestId", "workoutId", "contextVersion", "snapshot", "message", "history"],
        "properties": {
          "requestId": { "$ref": "#/components/schemas/CanonicalUuid" },
          "workoutId": { "$ref": "#/components/schemas/CanonicalUuid" },
          "contextVersion": { "type": "string", "pattern": "^[a-f0-9]{64}$" },
          "snapshot": { "$ref": "#/components/schemas/CoachWorkoutSnapshot" },
          "message": { "type": "string", "maxLength": 4000 },
          "history": {
            "type": "array",
            "maxItems": 80,
            "items": { "$ref": "#/components/schemas/CoachHistoryEntry" }
          },
          "model": { "type": ["string", "null"], "maxLength": 200 },
          "automatic": { "type": "boolean" }
        }
      },
      "CoachWorkoutSnapshot": {
        "type": "object",
        "additionalProperties": true,
        "required": ["workout_id", "revision", "exercises"],
        "properties": {
          "workout_id": { "$ref": "#/components/schemas/CanonicalUuid" },
          "revision": { "$ref": "#/components/schemas/NonNegativeLong" },
          "exercises": { "type": "array", "maxItems": 100, "items": { "type": "object" } }
        }
      },
      "CoachHistoryEntry": {
        "type": "object",
        "additionalProperties": true,
        "required": ["role", "text"],
        "properties": {
          "role": { "type": "string", "enum": ["user", "assistant"] },
          "text": { "type": "string", "maxLength": 16000 }
        }
      },
      "CoachRunResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["runId", "origin", "ordinal", "requestId", "workoutId", "contextVersion", "state", "stage", "lastEventSequence", "result", "errorCode", "applicationStatus"],
        "properties": {
          "runId": { "type": "string", "format": "uuid" },
          "origin": { "type": "string", "enum": ["USER", "COACH"] },
          "ordinal": { "type": "integer", "format": "int64" },
          "requestId": { "type": "string", "format": "uuid" },
          "workoutId": { "type": "string", "format": "uuid" },
          "contextVersion": { "type": "string" },
          "state": { "type": "string" },
          "stage": { "type": "string" },
          "lastEventSequence": { "type": "integer", "format": "int64" },
          "result": { "type": ["object", "null"] },
          "errorCode": { "type": ["string", "null"] },
          "applicationStatus": { "type": ["string", "null"] }
        }
      },
      "CoachRunReceiptRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": ["receiptId", "proposalId", "status"],
        "properties": {
          "receiptId": { "$ref": "#/components/schemas/CanonicalUuid" },
          "proposalId": { "$ref": "#/components/schemas/CanonicalUuid" },
          "status": { "type": "string", "enum": ["APPLIED", "REJECTED", "STALE"] }
        }
      },
      "CoachSessionUpdateRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": ["eventId", "sequence", "contextVersion", "snapshot"],
        "properties": {
          "eventId": { "$ref": "#/components/schemas/CanonicalUuid" },
          "sequence": { "type": "integer", "minimum": 1 },
          "contextVersion": { "type": "string", "pattern": "^[a-f0-9]{64}$" },
          "snapshot": { "$ref": "#/components/schemas/CoachWorkoutSnapshot" },
          "initiativeEnabled": { "type": "boolean" },
          "active": { "type": "boolean" },
          "model": { "type": ["string", "null"], "maxLength": 200 }
        }
      },
      "CoachSessionUpdateResponse": {
        "type": "object",
        "additionalProperties": false,
        "required": ["accepted", "sequence"],
        "properties": {
          "accepted": { "type": "boolean" },
          "sequence": { "type": "integer", "format": "int64" }
        }
      },
      "CoachSessionMessageRequest": {
        "type": "object",
        "additionalProperties": true,
        "required": ["requestId", "message", "state"],
        "properties": {
          "requestId": { "$ref": "#/components/schemas/CanonicalUuid" },
          "message": { "type": "string", "minLength": 1, "maxLength": 4000 },
          "model": { "type": ["string", "null"], "maxLength": 200 },
          "state": { "$ref": "#/components/schemas/CoachSessionUpdateRequest" }
        }
      },
      "CoachModelCheckRequest": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "model": { "type": ["string", "null"], "maxLength": 200 }
        }
      },
      "CoachModelCheckResponse": {
        "type": "object",
        "additionalProperties": true,
        "required": ["success", "message"],
        "properties": {
          "success": { "type": "boolean" },
          "message": { "type": "string" }
        }
      },
      "AdminPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": {}
            }
          },
          "hasMore": {
            "type": "boolean"
          },
          "offset": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CatalogPage": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CatalogRecord"
            }
          },
          "hasMore": {
            "type": "boolean"
          },
          "offset": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "DeleteRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          }
        }
      },
      "CoachTurnResponse": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string"
          },
          "model": {
            "type": "string"
          },
          "completion": {
            "$ref": "#/components/schemas/JsonNode"
          }
        }
      },
      "CoachModelCatalog": {
        "type": "object",
        "properties": {
          "availability": {
            "type": "string"
          },
          "defaultModel": {
            "type": [
              "string",
              "null"
            ]
          },
          "models": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "CreateRoutineShareRequest": {"type": "object", "required": ["operationId", "routineId", "expectedRevision", "catalogRevision"], "properties": {"operationId": {"type": "string", "format": "uuid"}, "routineId": {"type": "string", "format": "uuid"}, "expectedRevision": {"type": "integer", "format": "int64"}, "catalogRevision": {"type": "integer", "format": "int64"}}},
      "RevokeRoutineShareRequest": {"type": "object", "required": ["operationId"], "properties": {"operationId": {"type": "string", "format": "uuid"}}},
      "ImportRoutineShareRequest": {"type": "object", "required": ["operationId"], "properties": {"operationId": {"type": "string", "format": "uuid"}}},
      "RoutineShareCreated": {"type": "object", "properties": {"shareId": {"type": "string", "format": "uuid"}, "url": {"type": "string", "format": "uri"}, "routineId": {"type": "string", "format": "uuid"}, "createdAt": {"type": "integer", "format": "int64"}}},
      "RoutineShareList": {"type": "object", "properties": {"items": {"type": "array", "items": {"$ref": "#/components/schemas/RoutineShareListItem"}}}},
      "RoutineShareListItem": {"type": "object", "properties": {"shareId": {"type": "string", "format": "uuid"}, "routineId": {"type": "string", "format": "uuid"}, "url": {"type": "string", "format": "uri"}, "createdAt": {"type": "integer", "format": "int64"}, "active": {"type": "boolean"}}},
      "RoutineShareRevoked": {"type": "object", "properties": {"shareId": {"type": "string", "format": "uuid"}, "revokedAt": {"type": "integer", "format": "int64"}}},
      "RoutineShareImport": {"type": "object", "properties": {"routineId": {"type": "string", "format": "uuid"}, "revision": {"type": "integer", "format": "int64"}, "importedAt": {"type": "integer", "format": "int64"}, "alreadyImported": {"type": "boolean"}}},
      "RoutineSharePreview": {"type": "object", "required": ["title", "estimatedDurationSeconds", "exercises"], "properties": {"title": {"type": "string"}, "estimatedDurationSeconds": {"type": "integer", "format": "int64"}, "exercises": {"type": "array", "items": {"$ref": "#/components/schemas/RoutineSharePreviewExercise"}}}},
      "RoutineSharePreviewExercise": {"type": "object", "properties": {"exerciseKey": {"type": "string", "format": "uuid"}, "name": {"type": "string"}, "type": {"type": "string"}, "sets": {"type": "array", "items": {"$ref": "#/components/schemas/RoutineSharePreviewSet"}}, "restSeconds": {"type": "integer"}}},
      "RoutineSharePreviewSet": {"type": "object", "properties": {"weightKg": {"type": ["number", "null"]}, "reps": {"type": ["integer", "null"]}, "durationSec": {"type": ["integer", "null"]}, "speedKmh": {"type": ["number", "null"]}, "inclinePct": {"type": ["number", "null"]}}},
      "SaveRoutineShareTrialRequest": {"type": "object", "required": ["operationId", "startedAt", "finishedAt", "completedSets"], "properties": {"operationId": {"type": "string", "format": "uuid"}, "startedAt": {"type": "integer", "format": "int64"}, "finishedAt": {"type": "integer", "format": "int64"}, "completedSets": {"type": "array", "maxItems": 200, "items": {"$ref": "#/components/schemas/RoutineShareTrialSet"}}}},
      "RoutineShareTrialSet": {"type": "object", "required": ["exerciseIndex", "setIndex", "completedAt", "weightKg", "reps", "durationSec", "speedKmh", "inclinePct"], "properties": {"exerciseIndex": {"type": "integer"}, "setIndex": {"type": "integer"}, "completedAt": {"type": "integer", "format": "int64"}, "weightKg": {"type": ["number", "null"]}, "reps": {"type": ["integer", "null"]}, "durationSec": {"type": ["integer", "null"]}, "speedKmh": {"type": ["number", "null"]}, "inclinePct": {"type": ["number", "null"]}}},
      "RoutineShareTrialSaved": {"type": "object", "properties": {"routineId": {"type": "string", "format": "uuid"}, "workoutId": {"type": "string", "format": "uuid"}, "revision": {"type": "integer", "format": "int64"}, "savedAt": {"type": "integer", "format": "int64"}, "alreadySaved": {"type": "boolean"}}},
      "CoachPromptResponse": {
        "type": "object",
        "required": [
          "prompt"
        ],
        "properties": {
          "prompt": {
            "type": "string",
            "minLength": 1,
            "maxLength": 16000
          }
        }
      }
    },
    "securitySchemes": {
      "coachBearer": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}
